---
layout: default
---

<header>
  {% include nav.html%}
  <div class="main-content">
    <div>
      <p>Zed - The master of Shadows.</p>
      <p>Zed is the definition of</p>
      <h1>GLORY</h1>
      <h1><span>&</span> HONOR</h1>
      <p class="why"><span class="start">the</span> why and how</p>
    </div>
  </div>
</header>
<section class="info">
  <div class="info-contain">
    <div>
      <p class="title">Zed - the realest ninja: </p>
      <div class="text-hold">
        <p class="text">Zed is the first ninja in 2 centuries to unlock the ancient, forbidden ways.</p>
      </div>
    </div>
    <div>
      <p class="title">"Balance is a lie - we are the true ninjas." -Zed</p>
      <p class="text text-holds">Zed challanged his master's teachings by using forbidden techniques and followed his dark side.</p>
      <p class="title">discover</p>
    </div>
  </div>
</section>
<section class="outplay">
  <img src="image/model-zed.png" alt="zed icon">
  <div>
    <p class="outplay-descs">King of outplays</p>
    <h1 class="outplay-title">RAGE</h1>
    <h1 class="outplay-title">SWEAT</h1>
    <h1 class="outplay-title"><span>AND</span> TEARS</h1>
    <p class="link"><a href="https://github.com/colorlessenergy">see my work</a></p>
  </div>
</section>
<section class="meet">
  <div>
    <h1>THE</h1>
    <h1>MIGHTY</h1>
    <h1 class="bdb"><span>OUT</span>PLAY KING</h1>
    <p><span>Meet</span> the squad</p>
  </div>
</section>
<section>
  <div>
    <p>The plays</p>
    <h2>Zed</h2>
    <h2>Plays</h2>
    <p><a href="http://lol.gamepedia.com/Faker">best zed player</a></p>
  </div>
  <div>
    <p>Life of zed</p>
    {% for zed in site.data.zed-play %}
      <p>{{zed.desc}}</p>
      <p><a href="{{zed.link}}">read more about it</a></p>
    {% endfor %}
  </div>
</section>
<section>
  <div>
    <img src="image/zed_2.jpg" alt="zed skin">
    <p>California</p>
    <p>theluckorange@yahoo.com</p>
  </div>
  <div>
    <p>The future is now!</p>
    <h1>Talk to me</h1>
  </div>
  <div>
    <p>follow me</p>
    <ul>
      <li><img src="image/github-logo.svg" alt="menu icon"></li>
    </ul>
  </div>
</section>
