---
layout: default
---

<header>
  {% include nav.html%}
  <div class="main-content">
    <div>
      <p>Zed - The master of Shadows.</p>
      <p>Zed is the definition of</p>
      <h1>GLORY</h1>
      <h1><span>&</span> HONOR</h1>
      <p class="why"><span class="start">the</span> why and how</p>
    </div>
  </div>
</header>
<section class="info">
  <div class="info-contain">
    <div>
      <p class="title">Zed - the realest ninja: </p>
      <div class="text-hold">
        <p class="text">Zed is the first ninja in 2 centuries to unlock the ancient, forbidden ways.</p>
      </div>
    </div>
    <div>
      <p class="title">"Balance is a lie - we are the true ninjas." -Zed</p>
      <p class="text text-holds">Zed challanged his master's teachings by using forbidden techniques and followed his dark side.</p>
      <p class="title">discover</p>
    </div>
  </div>
</section>
<section class="outplay">
  <img src="image/model-zed.png" alt="zed icon">
  <div>
    <p class="outplay-descs">King of outplays</p>
    <h1 class="outplay-title">RAGE</h1>
    <h1 class="outplay-title">SWEAT</h1>
    <h1 class="outplay-title"><span>AND</span> TEARS</h1>
    <p class="link"><a href="https://github.com/colorlessenergy">see my work</a></p>
  </div>
</section>
<section class="meet">
  <div>
    <h1>THE</h1>
    <h1>MIGHTY</h1>
    <h1 class="bdb"><span>OUT</span>PLAY KING</h1>
    <p class="why"><a href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/zed/"><span class="start">Meet</span> the squad</a></p>
  </div>
</section>
<section class="zed-plays">
  <div class="zed-title">
    <p class="zed-desc">The Best</p>
    <h2>ZED</h2>
    <h2>PLAYS</h2>
    <p class="zed-link why"><a href="https://www.op.gg/ranking/champions/name=zed" target="_blank"><span class="start">best</span> zed players</a></p>
  </div>
  <div class="zed-play-cont">
    <p class="zed-play-cont-title">Life of zed</p>
    {% for zed in site.data.zed-play %}
      <p class="cont">{{zed.desc}}</p>
      <p class="link"><a href="{{zed.link}}" target="_blank"><span>Check</span> this out</a></p>
    {% endfor %}
  </div>
</section>
<footer>
  <div class="contact">
    <div>
      <p>The Unseen Blade is the Deadliest</p>
      <h1><span>Talk</span> to me</h1>
    </div>
  </div>
  <div class="loc">
    <div>
      <p class="location">California</p>
      <p class="email">theluckorange@yahoo.com</p>
    </div>
    <div class="social">
      <p>follow me</p>
      <ul>
        <li><a href="https://github.com/colorlessenergy"><img src="image/github-logo.svg" alt="menu icon"></a></li>
      </ul>
    </div>
  </div>
</footer>
