html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(image/bg-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
}

header nav div {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

header nav p, header nav img {
  margin: 0 5%;
  cursor: pointer;
}

header nav p {
  color: #2b195f;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5px;
}

header .main-content, .outplay {
  display: flex;
  height: 100%;
  justify-content: center;
}

.outplay {
  align-items: center;
  background-color: #ccc8c8;
  justify-content: flex-end;
  height: 650px;
}

.outplay div {
  margin-right: 2%;
}

.outplay div h1 {
  font-size: 100px;
  margin: 0;
}

.outplay img {
  align-self: flex-start;
  height: 50px;
  margin: 140px 0;
  width: 50px;
}

.outplay .link a {
  color: #000;
  text-decoration: none;
}

.outplay .link a:hover {
  border-bottom: 3px solid #000;
}

.outplay .outplay-title {
  line-height: 90px;
}

.outplay .outplay-descs {
  font-weight: 600;
  margin-bottom: 0;
}

header .main-content h1 {
  font-size: 150px;

}

header .main-content h1:last-of-type {
  line-height: 102px;
}

header .main-content h1 span {
  border-bottom: 3px solid gray;
  display: inline-block;
  padding-bottom: 20px;
}

header .main-content p, header .main-content h1, .outplay .link {
  font-weight: 700;
  margin: 0;
}

header .main-content .why {
  margin-top: 50px;
  padding-bottom: 5px;
}

header .main-content .why .start {
  border-bottom: 3px solid #ffff00;
}

header .main-content .why::after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out
}

header .main-content .why:hover::after {
  border-bottom: 3px solid #ffff00;
  transform: scaleX(1);
  transform-origin:  0% 50%;
}

nav .nav {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 0.6s ease;
}

nav .nav .nav-res {
  width: 100%;
}

nav .nav .nav-res-content {
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  list-style-type: none;
  width: 100%;
}

nav .nav .nav-res-content ul li a {
  color: #555;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
}

nav .nav .nav-res-content ul li {
  transition: background 0.5s linear;
}

nav .nav .nav-res-content ul li:hover {
  background-color: #ffff00;
}

nav .nav .nav-res-content .nav-content-centered {
  height: auto;
  justify-content: center;
}

nav .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav .nav.toggle-nav {
  transform: translateX(0);
}

.info {
  background-color: #6489ea;
  height: 650px;
}

.info p {
  margin: 0;
}

.info .info-contain {
  display: flex;
  flex-direction: column;
  padding: 8% 14%;
}

.info .info-contain div {
  margin: 10px 0;
}

.info .text {
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
  font-style: italic;
}

.info .text-hold {
  margin: 10px 0;
}

.info .title {
  font-weight: 700;
}

.meet {
  background-image: url(image/zed_0.jpg);
  color: #fff;
  display: flex;
  height: 600px;
}

.meet div {
  padding: 8% 5%;
}

.meet h1 {
  font-size: 80px;
  margin: 0;
}

.meet .bdb span {
  border-bottom: 3px solid #ffff00;
}

@media screen and (max-width:1024px) {

  header .main-content {
    justify-content: initial;
  }

  header .main-content h1 {
    font-size: 118px;
  }

  .info {
  height: auto;
}

.info .text {
  font-size: 30px;
}

.header .main-content h1 span  {
  padding-bottom: 1px;
}

.outplay {
  background-image: url(image/zed_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-start;
}

.outplay div  h1, .outplay h1.outplay-title {
  font-size: 50px;
  line-height: 47px;
}

.outplay .outplay-descs {
  margin-bottom: 20px;
}

}
