<nav>
  <div class="nav" id="nav">
    <div class="nav-res">
      <p>ZED</p>
      <img id="menuIcon" class="menuIcon" src="image/menu-icon-res.svg" alt="burger menu">
    </div>
    <div class="nav-res-content">
      <div class="nav-content-centered">
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="http://na.leagueoflegends.com/">LEAGUE OF LEGENDS</a></li>
          <li><a href="https://github.com/colorlessenergy">MY WORK</a></li>
        </ul>
      </div>
    </div>
</div>
  <div>
    <p>ZED</p>
    <img id="menuIcon" class="menuIcon" src="image/menu-icon.svg" alt="burger menu">
  </div>
</nav>
